SCript de creation des différente tables

Table aliment

In [ ]:
CREATE TABLE aliment (
  id SERIAL PRIMARY KEY,
  nom VARCHAR(100) NOT NULL,
  marque VARCHAR(100) DEFAULT NULL,
  sucre FLOAT DEFAULT NULL,
  calories INTEGER NOT NULL,
  graisses FLOAT DEFAULT NULL,
  proteines FLOAT DEFAULT NULL,
  bio BOOLEAN DEFAULT FALSE
);

Table utilisateur

In [ ]:
CREATE TABLE utilisateur (
  id SERIAL PRIMARY KEY,
  nom VARCHAR(100) DEFAULT NULL,
  prenom VARCHAR(100) DEFAULT NULL,
  email VARCHAR(255) NOT NULL UNIQUE
);

Script de seeding aliment

In [ ]:
INSERT INTO aliment (nom, marque, sucre, calories, graisses, proteines, bio) VALUES
('pomme', 'sans marque', 19.1, 72, 0.2, 0.4, FALSE),
('poire', 'sans marque', 27.5, 134, 0.2, 1.1, TRUE),
('banane', 'chiquita', 24, 101, 0.3, 1.1, FALSE),
('jambon', 'herta', 0.2, 34, 0.8, 6.6, FALSE),
('compote', 'andros', 11, 51, 0, 0.5, FALSE),
('steak haché', 'charal', 0.8, 68, 4.8, 4.8, FALSE),
('saumon', 'guyader', 0, 206, 12.3, 22.1, FALSE),
('haricots verts', 'bonduelle', 5.8, 25, 0.1, 1.5, FALSE),
('riz', 'oncle benz', 28.2, 130, 0.3, 2.7, FALSE),
('pâtes completes', 'barilla', 64, 353, 2.7, 14, TRUE),
('blanc de dinde', 'père dodu', 0.6, 98, 0.9, 22, FALSE),
('filet de poulet', 'le gaulois', 0, 121, 1.8, 26.2, FALSE),
('muesli', 'bjorg', 26.5, 170, 5, 3.5, TRUE),
('café', 'carte noire', 0, 0, 0, 0, FALSE),
('jus d''orange', 'innocent', 16, 74, 0, 1.6, FALSE),
('jus de pomme', 'andros', 24, 100, 0.2, 0.2, TRUE),
('pomme de terre', 'doréac', 21.1, 104, 0.2, 2.8, FALSE),
('oeuf', 'naturalia', 0.4, 74, 5.1, 6.5, TRUE),
('baguette', 'sans marque', 36.1, 185, 1.2, 7.5, FALSE),
('lait d''amande', 'bjorg', 6.1, 80, 5.3, 1.5, TRUE);

Seeding utilisateur

In [ ]:
INSERT INTO utilisateur (nom, prenom, email) VALUES
('durantay', 'quentin', 'qentin@gmail.com'),
('dupont', 'marie', 'marie@hotmail.fr'),
('miller', 'vincent', 'vm@yahoo.com'),
('zuckerberg', 'marc', 'marc@gmail.com'),
('paul', 'pierre', 'pp@orange.fr'),
('de vauclerc', 'lisa', 'lisadv@gmail.com'),
('gluntig', 'éléonore', 'glunt@sfr.com'),
('cavill', 'henry', 'henry@outlook.fr'),
('hopper', 'lionel', 'hpp@gmail.com'),
('tember', 'fabienne', 'fabienne@yopmail.com');

Compter le nombre d'adresse "gmail"

In [ ]:
SELECT COUNT(*) 
FROM utilisateur 
WHERE email LIKE '%gmail.com';

Nombre d'enregistrement "pomme"

In [ ]:
SELECT COUNT(DISTINCT nom) 
FROM aliment 
WHERE nom LIKE '%pomme%';

Utilisation de l'alias (avec AVG dans le screenshot_1)

In [ ]:
SELECT COUNT(DISTINCT nom) AS produits_contenant_pomme
FROM aliment 
WHERE nom LIKE '%pomme%';

Utilisation d'une vue créer (screenshot_2)

opération de selection sur la vue(screenshot_3 et screenshot_4)

utilisation des jointures (screenshot_5)